{% set root_link = '/admin/users/page/'+currentPage+'/sort' %}
{% if currentOrder =="asc" %}
    {% set order = "desc" %}
{% else %}
    {% set order = "asc" %}
{% endif %}
<table class="table table-striped table-bordered table-hover" id="datatable_orders">
    <thead>
    <tr role="row" class="heading">
        {% for col in table_columns %}
            <th width="{{ col.width }}">
                {% set link = root_link +'/'+col.column+'/'+order %}
                <a href="{{ link }}">{{ col.header }}</a>
                {% if currentColumn == col.column %}
                    <i class="fa fa-sort-{{ currentOrder }} pull-right"></i>
                {% endif %}
            </th>
        {% endfor %}
    </tr>
    </thead>

    <tbody>
    {% for item in items %}
        <tr>
            {% for col in table_columns %}
                {% if col.link %}
                    <td><a href="{{ item.link }}">{{ item[col.column] }}</a></td>
                {% else %}
                    <td>{{ item[col.column] }}</td>
                {% endif %}
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>