<style>
    .pull-right{
        margin-left: 5px;
    }
</style>
<div class="toolbar" style="padding-bottom: 10px;">
    {% if backButton %}
        <a href="{{ backButton }}" class="btn btn-default">
            <i class="fa fa-angle-left"></i> Back
        </a>
    {% endif %}

    {% if viewButton %}
        <a target="_blank" href='/{{ viewButton }}' class="btn btn-info">
            <i class="fa fa-eye"></i> View
        </a>
    {% endif %}

    {% if createButton %}
        <a href="{{ createButton }}" class="btn btn-primary">
            <i class="fa fa-plus"></i> Add New
        </a>
    {% endif %}

    {% if saveButton %}
        <button type="submit" id="saveForm" class="btn btn-success" form="edit-form" onclick='return document.forms["edit-form"].submit();'>
            <i class="fa fa-check"></i> Save
        </button>
    {% endif %}

    {% if deleteButton %}
        <div class="pull-right">
            <a class="btn btn-danger" data-toggle="modal" href="javascript:void(0)" onclick="openDeleteConfirmModal()">
                <i class="fa fa-remove"></i> Delete
            </a>
        </div>
    {% endif %}

    {% if resetFilterButton %}
        <div class="pull-right">
            <a class="btn btn-info" href="{{ resetFilterButton }}">
                <i class="fa fa-refresh"></i> Clear
            </a>
        </div>
    {% endif %}

    {% if searchButton %}
        <div class="pull-right">
            <button type="submit" form="search-form" class="btn btn-warning" onclick='return document.forms["search-form"].submit();'>
                <i class="fa fa-search"></i> Search
            </button>

        </div>
    {% endif %}
</div>

{% include 'delete_modal.html' %}