{% extends 'admin/layout.html' %}
{% block cssExtends %}
    <style>

        .widget-list {
            list-style: none;
            padding-left: 0px;
            font-size: 15px;
        }

        .widget-item {
            display: block;
            border: 1px solid;
            line-height: 35px;
            padding-left: 15px;
            background-color: aliceblue;
            margin-bottom: 10px;
        }

        .widget-placeholder {

        }

        .sidebar {

        }

        .widget-state-hover {
            background-color: lightyellow;
        }

        .ui-sortable-placeholder {
            background-color: #d3d3d3;
        }

        .open {
            display: block;
        }

        .close {
            display: none;
        }

        .expand_arrow {
            position: absolute;
            top: 8px;
            right: 10px;
            font-size: 20px;
        }

    </style>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <div class="col-sm-4">
                <div class="box box-solid box-primary">
                    <div class="box-header">
                        <h3 class="box-title">Widgets Available</h3>
                    </div>
                    <div class="box-body">
                        <ul class="widget-list" id="widgets">
                            {% for widget in widgets %}
                                <li class="widget-item" data-alias="{{ widget.alias }}">{{ widget.name }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                {% for bar in sidebars %}
                    <div class="col-md-6">
                        <div class="box box-solid box-info sidebar" id="{{ bar.name }}">
                            <div class="box-header">
                                <h3 class="box-title">{{ bar.title }}</h3>
                            </div>
                            <div class="box-body" id="{{ bar.alias }}">
                                <ul class="widget-list">
                                    {{ bar.name|setting_sidebars|safe }}
                                </ul>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
{% block jsExtends %}
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.3/jquery-ui.js"></script>
    <script>
        $(function () {
            $("#widgets li").draggable({
                appendTo: "body",
                helper: "clone"
            });
            $(".sidebar").droppable({
                activeClass: "ui-state-default",
                hoverClass: "widget-state-hover",
                accept: ":not(.ui-sortable-helper)",
                drop: function (event, ui) {
                    $(this).find(".placeholder").remove();
                    var li = $("<li style='position: relative'></li>");
                    li.append("<div class='widget-item'></div>");
                    li.append('<a href="#" class="fa fa-caret-left expand_arrow" onclick="return showDetail(this);"></a>');
                    _this = $(this);
                    li.find(".widget-item").first().text(ui.draggable.text());
                    var ul = $(this).find('.widget-list').first();
                    $.ajax({
                        url: '/admin/widgets/sidebars/add/' + ui.draggable.attr('data-alias')
                    }).done(function (re) {
                        var new_box = $("<div class='box box-solid open'><div class='box-body'></div></div>");
                        new_box.find(".box-body").first().append(re);
                        new_box.find("form").first().append("<input type='hidden' name='sidebar' value='"+_this.attr('id')+"'>");
                        li.append(new_box);
                        ul.append(li);
                    });
//                    $(this).find('.box-body').append("<div class='box box-solid close'><div class='box-body'></div></div>");

                }
            }).sortable({
                //items: "div:not(.placeholder)",
                items: "li:not(.placeholder)",
                sort: function () {
                    // gets added unintentionally by droppable interacting with sortable
                    // using connectWithSortable fixes this, but doesn't allow you to customize active/hoverClass options
                    $(this).removeClass("ui-state-default");
                }
            });
        });
        function showDetail(element, changeIcon) {
            var box = $(element).parents("li").first().find('.box').first();
            if (box.hasClass('open')) {
                box.removeClass('open');
                box.addClass('close');
                if (changeIcon == undefined) {
                    $(element).removeClass('fa-caret-down');
                    $(element).addClass('fa-caret-left');
                }
                else {
                    var el = $(element).parents('li').first().find('a').first();
                    $(el).removeClass('fa-caret-down');
                    $(el).addClass('fa-caret-left');
                }

            }
            else {
                box.removeClass('close');
                box.addClass('open');
                if (changeIcon == undefined) {
                    $(element).removeClass('fa-caret-left');
                    $(element).addClass('fa-caret-down');
                }


            }
            return false;
        }

        function saveWidget(button) {
            var form = $(button).parents('form');
            var box = $(button).parents('.box').first();
            var widget = $(button).parents("li").first();
            showBlock(box);
            $.ajax({
                type: "POST",
                url: '/admin/widgets/sidebars/save',
                data: form.serialize() // serializes the form's elements.
            }).done(function (re) {
                removeBlock(box);
                return false;
            });
            return false;
        }

        function removeWidget(button){
            var id = $(button).parents('form').find('input[name="id"]').val();
            if(id!=''){
                //delete in database

            }else{
                $(button).parents('li').first().remove();
            }
            return false;
        }

        function showBlock(element) {
            $(element).append('<div class="overlay"><i class="fa fa-refresh fa-spin"></i></div>');
        }
        function removeBlock(element) {
            $(element).find(".overlay").remove();
        }

    </script>
{% endblock %}
