{% extends 'layout.html' %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            {% include 'toolbar.html' %}
            <div class="box box-solid box-primary">
                <div class="box-body table-responsive no-padding">
                    {% include 'basic_table.html' %}
                    {{ totalPage|pagination(currentPage,'/admin/blog/pages/page/{page}/sort/'+currentColumn+'/'+currentOrder)|safe }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block jsExtends %}
    <script>
        function deleteRecords() {
            var ids = [];
            $("input:checkbox[name='ids[]']:checked").each(function () {
                ids.push($(this).val());
            });

            if (ids.length > 0) {
                $.ajax({
                    url: '/admin/blog/pages/delete',
                    type: 'post',
                    data: {
                        ids: ids.join()
                    }
                }).done(function(result){
                    window.location.href = "/admin/blog/pages/";
                });
            }
        }
    </script>
{% endblock %}