{% extends 'admin/layout.html' %}

{% block content %}

    {% include 'admin/toolbar.html' %}

    <div class="row">
        <div class="col-md-12">
            <div class="box box-solid box-primary">
                <div class="box-body">
                    <div class="table-container">
                        <table class="table table-striped table-bordered table-hover" id="datatable_orders">
                            <thead>
                            <tr role="row" class="heading">
                                <th width="2%">
                                    <input type="checkbox" class="check-all">
                                </th>
                                <th>
                                    Name
                                </th>
                                <th width="10%">
                                    Status
                                </th>
                            </tr>
                            </thead>

                            <tbody>
                            {% for menu in menus %}
                                <tr>
                                    <td>
                                        <input type="checkbox" class="check-element" name="ids[]" value="{{ menu.id }}">
                                    </td>
                                    <td><a href="/admin/menus/{{ menu.id }}">{{ menu.name }}</a></td>
                                    <td>{{ menu.status }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'admin/delete_modal.html' %}
{% endblock %}

{% block jsExtends %}
    <script>
        function deleteRecords() {
            var ids = [];
            $("input:checkbox[name='ids[]']:checked").each(function () {
                ids.push($(this).val());
            });

            if (ids.length > 0) {
                $.ajax({
                    url: '/admin/menus',
                    type: 'DELETE',
                    data: {
                        ids: ids.join()
                    },
                    success: function (result) {
                        // Do something with the result
                        window.location.href = "/admin/menus/";
                    }
                });
            }
        }
    </script>
{% endblock %}
