{% extends 'admin/layout.html' %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            {% include 'admin/toolbar.html' %}
            <div class="box box-solid box-primary">
                <div class="box-body table-responsive no-padding">
                    {% include 'admin/basic_table.html' %}
                    {{ totalPage|pagination(currentPage,'/admin/users/page/{page}/sort/'+currentColumn+'/'+currentOrder)|safe }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
